.pio/*
.vscode/*
src/secrets.h
src/version.h
versioning
docs/api
data/www/jsondata.device
data/www/jsondata.server
data/www/links.json
data/www/js/jquery-ui.min.js
data/www/js/jquery.min.js
data/www/js/bootstrap.min.js
data/www/css/jquery-ui.min.css
data/www/css/bootstrap.min.css
